target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.settings/
.myeclipse/
bin/
.mymetadata
.classpath
.project
/bin
/*.iml
/.idea
/.project
/.settings
/.checkstyle

.springBeans